<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="coverage.xml"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <php>
    <ini name="pcov.enabled" value="1"/>
    <ini name="pcov.directory" value="src"/>
    <ini name="pcov.exclude" value="tests"/>
  </php>
</phpunit>
